title: 'Lapis Example'
description: 'An application to be used as an example for Lapis framework'
author: Meedan
author_url: http://meedan.com
slack_webhook:
slack_channel:
code_climate_token:
errbit_host:
errbit_port:
errbit_token:
